/* Copyright (c) 2018 SerialLab Corp.

GNU GENERAL PUBLIC LICENSE
   Version 3, 29 June 2007

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. */



.service-list {
  display:flex;
  flex-direction:row;
  align-items:center;
  align-content:space-between;
  width:100%;
  margin:0;
  padding:0;
  flex-wrap: wrap;
  justify-content:space-around;
}
.service-list li {
  display:block;
  border-bottom: 3px solid #6B6B70;
  padding:10px 20px 0 10px;
  margin:10px 10px 30px 10px;
  font-size:22px;
  position:relative;
  min-width:250px;
  font-variant: small-caps;
}

.bp3-dark .service-list li {
  border-bottom: 3px solid #DDD;
}
.bp3-dark .service-list li span.icon-dot {
  border: 2px solid #DDD;
  background:#DDD;
}
.service-list li span.icon-dot {
  border-radius: 50%;
  width:40px;
  height:40px;
  border: 2px solid #6B6B70;
  display:block;
  position:absolute;
  right:-1px;
  top:53%;
  background:#6B6B70;
}
.cards-container{
  margin-top: 25px;
}
.delete-button {
  position:absolute;
  left:10px;
  top: 7px;
}
