/* Copyright (c) 2018 SerialLab Corp.

GNU GENERAL PUBLIC LICENSE
   Version 3, 29 June 2007

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. */

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #394B59;
}

::-webkit-scrollbar-thumb {
    background: #8DC449;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}
.left-panel {
    position: relative;
    padding: 0;
    min-height: 100%;
    background: #394B59;
    color: #FFF;
    overflow-y: scroll;
    height: 100vh;
    padding-left: 12px;
    padding-top: 50px;
    top: -50px;
}

.polar ::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #FFFFFF;
}

.polar ::-webkit-scrollbar-thumb {
    background: #8DC449;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.polar .left-panel {
    background: #EEF1F3;
    color: #444;
}

.polar .left-panel-title {
    background: #EEE;
    color: #444;
}

.left-panel-title {
    padding: 10px;
    text-align: center;
    background: #293742;
}

.right-panel {
    padding: 0px;
    flex: 1 1;
    min-height: 100%;
    overflow-y: scroll;
    position: relative;
    height: 100vh;
    z-index: 9;
    background: #F5F8FA;
    padding-top: 50px;
    top: -50px;
}

.polar .right-panel {
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.02), 0 4px 8px rgba(16, 22, 26, 0.04), 0 18px 46px 6px rgba(16, 22, 26, 0.1);
}

.contrasted .right-panel {
    background: #282B30;
}

.bp3-dark .right-panel {
    background: #394B59;
}

.dark-brown .right-panel {
    background: #282B30;
}

.react-resizable-handle {
    height: 100%;
    cursor: ew-resize;
}

.contrasted .bp3-callout {
    background: #F5F8FA;
    color: #182026;
}
