.task-messages {
  margin:10px  10px;
  position:relative;
  width:100%;
}

.task-messages .inset-card {
  padding:20px;
  margin: 0 0 30px;
  background:rgba(0, 0, 0, 0.04);
}
.bp3-dark .task-messages .inset-card {
  background:rgba(0, 0, 0, 0.07);
}
.task-messages .inset-card .message-info {
  display:flex;
  align-content:stretch;
}

.task-messages .inset-card:last-child {
  margin: 0 0 0;
}

.task-messages .inset-card table {
  width:auto;
  border-top:none !important;
}

.task-messages .inset-card .numbered-message {
  display:block;
  font-size:30px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10%;
  padding-top:30px;
  width:100px;
  text-align:center;
  height:100px;
  margin:0 20px 10px 0;
}

.task-messages .inset-card pre {
  clear:both;
  white-space: pre-wrap;
  font-size:14px;
}
.bp3-dark .task-messages .inset-card .numbered-message {
    background-color: rgba(255, 255, 255, 0.02);
}

.tree-node-task {
  background-image: url("../images/tasks.svg");
}
.tree-node-task.tree-node-active {
  background-image: url("../images/tasks-active.svg");
}
.tree-node-rule {
  background-image: url("../images/rule.svg");
}
.tree-node-rule.tree-node-active {
  background-image: url("../images/rule-active.svg");
}
.tree-node-step {
  background-image: url("../images/step2.svg");
}
.tree-node-step.tree-node-active {
  background-image: url("../images/step2-active.svg");
}
