/* Copyright (c) 2018 SerialLab Corp.

GNU GENERAL PUBLIC LICENSE
   Version 3, 29 June 2007

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. */



/* Auto-sized cards */
.pick-cards-container {
  display: flex;
  flex-wrap:wrap;
  margin:0;
  padding:0;
  justify-content:center;
  align-items:center;
  position:relative;
}


.pick-cards-container .card-picker {
  display:flex;
  flex-direction: column;
  margin:20px 20px;
  background: #f2f2f2;
  color: #444;
  border-radius: 2px;
  padding:60px 20px 10px;
  position:relative;
  height:330px;
  width:300px;
  text-align:center;
  overflow:hidden;
  border: 1px solid #CCC;
  transition: transform .2s; /* Animation */
}

.pick-cards-container .small-card-picker {
  height:auto;
  padding-bottom:0;
}

.pick-cards-container .card-picker:hover {
    cursor: pointer;
    transform: scale(1.08); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.bp3-dark .pick-cards-container .card-picker {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
    border: 0px;
}

.pick-cards-container .card-picker h5 {
  background: #0E5A8A;
  top:0;
  position: absolute;
  width: 100%;
  left:0;
  color:#FFF;
  border-radius: 0;
  margin-bottom:20px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  padding:15px 10px;
  text-align:center;
}

.picker-data-list {
  list-style:none;
  margin:0;
  padding:0;
}

.picker-data-list li {
  margin:5px;
  padding:5px;
  border-bottom:1px solid #DDD;
}
.picker-data-list li:last-child {
  margin:5px;
  padding:5px;
  border-bottom: none;
}
