/* Copyright (c) 2018 Serial Lab

GNU GENERAL PUBLIC LICENSE
   Version 3, 29 June 2007

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. */


body {
  margin: 0;
  padding: 0;
}
/* heebo-100normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Heebo Thin '),
    local('Heebo-Thin'),
    url('../resources/heebo-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('../resources/heebo-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* heebo-300normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Heebo Light '),
    local('Heebo-Light'),
    url('../resources/heebo-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../resources/heebo-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* heebo-400normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Heebo Regular '),
    local('Heebo-Regular'),
    url('../resources/heebo-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../resources/heebo-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* heebo-500normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Heebo Medium '),
    local('Heebo-Medium'),
    url('../resources/heebo-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../resources/heebo-latin-500.woff') format('woff'); /* Modern Browsers */
}

/* heebo-700normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Heebo Bold '),
    local('Heebo-Bold'),
    url('../resources/heebo-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../resources/heebo-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* heebo-800normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Heebo ExtraBold '),
    local('Heebo-ExtraBold'),
    url('../resources/heebo-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../resources/heebo-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* heebo-900normal - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Heebo Black '),
    local('Heebo-Black'),
    url('../resources/heebo-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../resources/heebo-latin-900.woff') format('woff'); /* Modern Browsers */
}

body, bp3-button {
  /* Make font more consistent across all OSes */
  font-family: 'heebo' !important;
}
